* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.HomePage {
  background-image: url('http://gigaland.on3-step.com/img/background/8.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.searchInput:focus {
  outline: none;
}

.navLink {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
}

/* Create the underline */
.navLink::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 52, 63);
  transition: width 0.3s ease-in-out;
}

.navLink:hover::before {
  width: 100%;
}

.dropdown-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0000006d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  border-radius: 5px;
}

.dropdown-link:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  color: White;
  border-radius: 2px;
  transition: all .4s ease;
  border-bottom: 1px solid #4b4b4b6d;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: rgb(255, 52, 63);
}

.ConnectWallet {
  padding-left: 20px;
}

.ConnectWallet a {
  background-color: rgb(255, 52, 63);
  color: White;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  transition: all .4s ease;
}

.ConnectWallet a:hover {
  box-shadow: 0px 2px 30px 0px rgb(255, 52, 63);
}

nav {
  position: 'fixed';
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  min-width: 100%;
  transition: all .4s ease;
}

nav.active {
  background-color: rgb(33, 36, 40);
  box-shadow: rgba(10, 10, 10, 0.8) 0px 4px 20px 0px;
  position: fixed;
}

#menu {
  position: relative;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease;
  cursor: pointer;
}

#menu span {
  position: absolute;
  background-color: #212529;
  height: 0.1rem;
  width: 70%;
  transition: all .4s ease;
}